

/* Material UI */
.form-field{
    width: 100%;
    height: 50px;
    margin-top: 5px;
  }
 
  .form-field-email{
    width: 100%;
    /* height: 60px; */
  }
  .Insertmat-card-content{
    margin-top: 5px;
   padding: 5px;
  }
  
  .Insertmat-card-content:first-child{
    padding: 2px;
  }
  .Insertmat-card-content:last-child{
    padding: 5px;
  }
  
  .Getmat-card-content{
    padding: 0px;
  }
  .Getmat-card-content:first-child{
    padding: 0px;
  }
  .Getmat-card-content:last-child{
    padding: 0px;
  }
  mat-form-field input{
    font-size: 12px;
  }
  mat-form-field mat-select{
    font-size: 12px;
  }
  mat-icon{
    font-size: 20px !important;
  }
  mat-label{
    font-size: 12px;
  }
  
  
  
  
  
  .cardone{
    height: 65vh;
    overflow-y:auto;
  }
  
  
  
  .Step2Table{
      width: 100%; 
    }
    .tableNameStep2{
      background-color: #673ab7;
      color: white;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      padding: 10px 8px;
      display: inline;
      font-size: 12px;
    }
    
    .TableCard{
      max-height: 50vh;
      overflow: auto;  
    }
    
    .Step2Table tr td{
      /* text-align: center; */
      font-size: 10px;
      color: black;
      font-weight: 400;
    
       }
       .Step2Table tr th{
          /* text-align: center; */
          position: sticky;
          background-color: #f0f2ff;
          border-bottom:2px solid #4252ab;
          color: rgb(34, 33, 33);
          font-size: 10px;
          font-weight: 500;
          top: 0px;
       
        
           }
  
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 0.3rem;
  }
  
  
  input[type=file]{
    font-size: 12px;
  }

  input[type=file].ng-invalid.ng-touched
{
    border: 1px solid rgb(255, 73, 73);
}
.imgClass img{
    width: 50px;
    height: 30px;
}

.searchLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.searchLogo img{
width: 400px;
height:300px;
}