

<div class="container">
  <div class="row">
  <div class="col-3">
      <mat-card class="cardone">
          <mat-card-content class="Insertmat-card-content">
            <div style="background-color: #f1f3ff; border: 1px solid #d1d9ff;">
              <div style="padding:10px;line-height: 16px;"> <div style="font-size: 14px;font-weight:500 ;color: rgba(0, 0, 0, 0.6);">Add new selling channel</div>
              <div style="font-size: 10px;font-weight:400;color: rgb(116, 116, 116);">To add new selling channel first select business</div>
            </div>
            </div>
                   
              <div>
                  <mat-form-field (click)="refreshBusiness()" class="form-field">
                    <mat-label>Select business</mat-label>
                  <mat-select (selectionChange)="onChangeBusiness($event)" required>
                    <mat-option *ngFor="let list of BusinessList" [value]="list">
                      {{list.business}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                </div>
              <form [formGroup]="SellingChannelForm" (ngSubmit)="AddForm(SellingChannelForm)">
            <div>
            <mat-form-field class="form-field">
              <mat-label>Selling channel name</mat-label>
              <input matInput type="text" formControlName="channelName" >
            </mat-form-field>
          </div>
       <div style="margin-top: 5px;">
        <input #inputFile class="form-control" type="file" formControlName="channelLogo">
       </div>
       <div>
        <mat-form-field class="form-field">
          <mat-label>Smtp server</mat-label>
          <input matInput type="number" formControlName="smtpServer" >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="form-field">
          <mat-label>Smtp port</mat-label>
          <input matInput type="number" formControlName="smtpPort" >
        </mat-form-field>
      </div>
      <div>

        <div>
          <mat-form-field class="form-field">
            <mat-label>Email id</mat-label>
            <input matInput type="email" formControlName="emailId" >
          </mat-form-field>
        </div>

        <mat-form-field class="form-field">
          <mat-label>Email password</mat-label>
          <input matInput type="text" formControlName="emailPassword" >
        </mat-form-field>
      </div>

            <div>
              <button [disabled]="!SellingChannelForm.valid" type="submit" style="width: 100%;font-size: 10px;margin-top: 5px;" mat-stroked-button color="primary" ><i class="bi bi-plus-circle"></i> Add Selling channel</button>
            </div>
         </form>
         </mat-card-content>
        </mat-card>
  </div>

  <div class="col-9">
    <mat-card class="cardone" style="padding: 5px 10px;">

      <div *ngIf="!AllSellingRecord?.length" class="searchLogo">
        <img matTooltip="Select business to view records" matTooltipPosition="below" src="assets/setupSearch.jpg" alt="serach data">
      </div>

      <div *ngIf="AllSellingRecord?.length>0">
        <div style="background-color: #f1f3ff; border: 1px solid #d1d9ff;
        margin-top: 5px;
        margin-bottom: 8px;">

          <div style="padding-left: 5px;margin-bottom: 10px;line-height: 16px;margin-top: 10px;"> 
            <div style="font-size: 14px;font-weight:500 ;color: rgba(0, 0, 0, 0.6);">Selling Channel Records</div>
        <div style="font-size: 10px;font-weight:400;color: rgb(116, 116, 116);">Below all previous record you added</div>
    </div>
        </div>
        
          <div class="tableNameStep2">
            {{BizName}} <span style="background-color: white;
            padding: 2px 9px;
            color: black;
            font-size: 10px;
            border-radius: 4px;
            position: relative;
          bottom: 2px ">{{AllSellingRecord?.length}}</span>
          </div>
          <mat-card class="TableCard">
            
          <table class="table table-response Step2Table">
              <thead class="thead">
                  <tr class="clientTableHead">
                      <th>Channel name</th>
                      <th>Channel logo</th>
                      <th>Smtp server</th>
                      <th>Smtp port</th>
                      <th>Email id</th>
                      <th>Email password</th>
                      <th><i class="bi bi-three-dots-vertical"></i></th>
                  </tr> 
              </thead>
              <tbody>
                  <tr class="clientTableRow" *ngFor = "let item of AllSellingRecord">
        <td><span>{{item.channelName}}</span></td>
        <td><span class="imgClass"><img [src]="LogoUrl + item.channelLogo"  alt="logo"> </span></td>
        <td><span>{{item.smtpServer}}</span></td>
        <td><span>{{item.smtpPort}}</span></td>
        <td><span>{{item.emailId}}</span></td>
        <td><span>{{item.emailPassword}}</span></td>
        <td><i style="color: red;cursor: pointer;" (click)="removeItem(item.id)"  class="bi bi-trash3"></i></td>
        
                  </tr>
              </tbody>
        
          </table>
          </mat-card>
        </div>
      </mat-card>
  </div>
  </div>
  </div>