<section>
    <div class="example-label">Basic</div>
    <div class="example-button-row">
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>

<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>


<h3>Bootstrap Icons class Angular Button and Input form example</h3>
<button type="button" class="btn btn-primary">
  <i class="bi bi-search"></i>

  Button
</button>
<div class="input-group w-50">
  <span class="input-group-text" id="basic-addon1">
    <i class="bi bi-search"></i>

  </span>
  <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example"
    aria-describedby="basic-addon1">
</div>

<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

<section>
<div class="example-label">Raised</div>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
</div>
</section>


<h3>Bootstrap Icons class Angular Button and Input form example</h3>
<button type="button" class="btn btn-primary">
<i class="bi bi-search"></i>

Button
</button>
<div class="input-group w-50">
<span class="input-group-text" id="basic-addon1">
  <i class="bi bi-search"></i>

</span>
<input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example"
  aria-describedby="basic-addon1">
</div>


<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

<section>
<div class="example-label">Raised</div>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
</div>
</section>


<h3>Bootstrap Icons class Angular Button and Input form example</h3>
<button type="button" class="btn btn-primary">
<i class="bi bi-search"></i>

Button
</button>
<div class="input-group w-50">
<span class="input-group-text" id="basic-addon1">
  <i class="bi bi-search"></i>

</span>
<input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example"
  aria-describedby="basic-addon1">
</div>

<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

<section>
<div class="example-label">Raised</div>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
</div>
</section>


<h3>Bootstrap Icons class Angular Button and Input form example</h3>
<button type="button" class="btn btn-primary">
<i class="bi bi-search"></i>

Button
</button>
<div class="input-group w-50">
<span class="input-group-text" id="basic-addon1">
  <i class="bi bi-search"></i>

</span>
<input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example"
  aria-describedby="basic-addon1">
</div>
